---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import SingleProject from "../components/SingleProject.astro";
import About from "../components/About.astro";
import projects from "../projects.json";
import Contact from "../components/Contact.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../config";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    <style>
      header {
        position: fixed;
        top: 0;
        width: 100%;
        font-family: "Poppins", sans-serif;
        z-index: 1;
        background: #fff;
        height: 60px;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.3);
      }
      #home {
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #415a77;
      }
      #home h1 {
        font-size: 3rem;
        color: #fff;
        text-align: center;
      }
      #home a {
        background: #3997fc;
        padding: 1rem 2rem;
        border-radius: 5px;
        text-decoration: none;
        color: white;
        font-weight: 600;
      }
      #about {
        padding: 2rem 0;
        height: 100vh;
        width: 100%;
      }
      #projects {
        padding: 2.5rem 0;
        width: 100%;
        background: #778da9;
      }
      #projects h1 {
        text-align: center;
      }
    </style>
  </head>

  <body>
    <main>
      <Header />
      <div id="home">
        <h1>
          Hi, my name is Sean Parkin
          <br />
          I build Full Stack apps
        </h1>
        <a href="/#projects">Projects</a>
      </div>
      <div id="about">
        <About />
      </div>
      <div id="projects">
        <h1>Projects</h1>
        {projects.map((project) => <SingleProject props={project} />)}
      </div>
      <div id="contact">
        <Contact />
      </div>
    </main>
    <Footer />
  </body>
</html>
