---
---

<html>
  <h1>Wish List</h1>

  <h3>Ryobi Power Tools</h3>
  <ul>
    <li>ONE+ 18V Cordless Dual Function Inflator/ Deflator</li>
    <li>ONE+ HP 18V Brushless Cordless Compact 6-1/2 in. Circular Saw</li>
    <li>ONE+ 18V Cordless Reciprocating Saw</li>
    <li>ONE+ HP 18V Brushless Cordless Jig Saw</li>
    <li>ONE+ 18V 18-Gauge Cordless AirStrike Brad Nailer</li>
    <li>ONE+ 18V Cordless 4-1/2 in. Angle Grinder</li>
    <li>ONE+ 18V Cordless Multi-Tool</li>
    <li>ONE+ 18V Cordless 5 in. Random Orbit Sander</li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <h3>Tools</h3>
  <ul>
    <li>Miter Saw</li>
    <li>Pressure Washer</li>
    <li>Shop Vac</li>
    <li>Electric Paint Sprayer</li>
    <li>Car Jack</li>
    <li>Jack Stands</li>
    <li>Digital Calipers</li>
    <li>Digital Tape Measure</li>
    <li>Standing Toolbox</li>
    <li>Laser Level</li>
    <li>1/2 inch Impact Socket Sets (Standard and Metric)</li>
    <li>Folding Lock-Back Utility Knife</li>
    <li>Pry Bar Set</li>
    <li>Flat Pry Bar</li>
    <li>N95 Masks (Not for Covid!!)</li>
    <li>Respirator Mask</li>
    <li>Pipe Wrench</li>
    <li>Hand Axe</li>
    <li>Sledgehammer</li>
    <li></li>
  </ul>

<style>
li{
list-style-type: none
}
</style>

</html>
