<div class="container">
  <div class="aboutText">
    <h3>A little about me</h3>
    <p>
      My name is Sean Parkin, I am full stack developer with a preference for
      the back end. I enjoy making websites and web applications using
      JavaScript. I continue to learn new things that are coming out in the
      industry. I am currently learning all of the things that React and Node
      has to offer.
    </p>
  </div>
  <div class="skillsSection">
    <h2>My Skills</h2>
    <div class="skills">
      <p class="skill">HTML</p>
      <p class="skill">CSS</p>
      <p class="skill">JavaScript</p>
      <p class="skill">TypeScript</p>
      <p class="skill">Github</p>
      <p class="skill">React</p>
      <p class="skill">NextJS</p>
      <p class="skill">Sveltekit</p>
      <p class="skill">MongoDB</p>
      <p class="skill">Swagger</p>
      <p class="skill">NodeJS</p>
      <p class="skill">Express</p>
    </div>
  </div>
</div>

<style>
  .container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    align-items: center;
    padding: 60px 0;
  }

  .aboutText {
    width: 90%;
  }

  .aboutText > p {
    padding: 20px;
    font-size: 1rem;
  }

  .aboutText > h2 {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 20px;
  }

  .skillsSection {
    padding: 1rem;
  }

  .skillsSection > h2 {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  .skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .skillsRow {
    display: flex;
    flex-wrap: wrap;
  }
  .skill {
    margin: 0 3rem;
    color: #000;
  }

  .skill {
    background: rgba(153, 153, 153, 0.2);
    padding: 0.5rem 1rem;
    margin: 0 1rem 1rem 0;
    text-align: center;
    color: #666;
    border-radius: 5px;
  }
</style>
